.resultW, .resultL {
    font-size: 28px;
    padding-top: 20px;
}

.resultW{
    color: green;
}

.resultL{
    color: red;
}

.label{
    padding-right: 5px;
}

#roundNo, 
#youChose, 
#computerChose, 
#computerTotal, 
#humanTotal,
#roundResult {
    display: flex;
}